h1 {
  font-size: 32px;
}

h2 {
  border-bottom: 2px solid #1abc9c;
}

section {
  margin-top: 40px;
}

.container {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.box {
  flex: 1;
  text-align: center;
  font-weight: bold;
  background-color: #f7f9fa;
  border-radius: 8px;
}