body {
  font-family: sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

h1 {
  font-size: 32px;
}

h2 {
  border-bottom: 2px solid #1abc9c;
  margin-top: 40px;
}

h1,h2 {
  margin-bottom: 12px; 
}

section {
  margin-bottom: 24px;
}

.filters {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.box {
  display: flex;
  align-items: center;
  gap: 10px;
  padding:12px 16px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.box button {
  font-size: 12px;
}

.box input[type= "checkbox"] {
  margin-right: 8px;
}

.edit-btn {
  background: #4caf50;
  color: white;
}

.delete-btn {
  background: #f44336;
  color: white;
}

.add-btn {
  background: #21963f;
  color: white;
}

.form {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#toggle-btn {
  padding: 10px 20px;
}

#toggle-btn.active {
  background-color: green;
  color: white;
}

.count-btn {
  display: flex;
}

#count {
  padding-left: 10px;
  margin: 0px;
}

.tab-btn.active {
  background-color: blue;
  color: white;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display:block;
}

@media (width: 768px) {
  .container {
    flex-direction: column;
    display: flex;
  }
  body {
    margin: 16px;
  }

  h1 {
    font-size: 24px;
  }

  .box {
    font-size: 14px;
  }
}