body {
  font-family: Arial, sans-serif;
  margin-top: 40x;
}

h1 {
  color: #2c3e50;
}

p {
  color: #555;
  font-size: 16px;
}

h2 {
  margin-top: 40px;
  color: #1abc9c;
}

ul {
  padding-left: 20px;
}

.container {
  display: flex;
  gap: 16px;
  margin-top: 40px;
  justify-self: center;
  align-items: center;
}

.box {
  padding: 20px;
  background-color: #ecf0f1;
  border: 1px solid #ccc;
}